@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --tg-safe-area-top: 0px;
  --tg-safe-area-bottom: 0px;
  --tg-content-safe-area-top: 0px;
  --tg-content-safe-area-bottom: 0px;
}

body {
  font-family: var(--font-sans);
  background-color: #141414;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
